body {
  background-color: #202442 !important;
  word-wrap: break-word;
}

.myChatbox {
  border-radius: 10px;
  background-color: #406ae0;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.otherChatbox {
  border-radius: 10px;
  background-color: #2f345f;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid #406ae0;
}

.navbar-custom {
  background-color: #2f345f;
  border-radius: 10px;
  border: 2px solid #406ae0;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255, 255, 255, 0.8);
}
fa-github{
  color: #406ae0;
}

.container-custom {
  border-radius: 10px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border-radius: 0.25rem;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #406ae0;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

#confirmSelection {
  background-color: #406ae0;
  color: rgba(255, 255, 255, 0.8);
}

.modal-content {
  background-color: #202442;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid #406ae0;
}

.close {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
}
.red-button {
  background-color: rgb(255, 47, 47);
  color: rgba(255, 255, 255, 0.8);
}

.jumbotron {
  background-color: #2f345f;
  border: 2px solid #406ae0;
  color: rgba(255, 255, 255, 0.8);
  padding: 2rem 2rem !important;
}

.my-4 {
  background: #406ae0;
  height: 1px;
}
